# Node modules
node_modules/


# Build output
build/
dist/

# Logs
logs
*.log
npm-debug.log*


# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Coverage reports
coverage/

# Package lock
package-lock.json
yarn.lock
