/* HeroSection.css */

.hero-section {
  padding: 12rem 0;
}

.hero-section .hero-section-data p {
  margin: 2rem 0;
}

.hero-section .hero-section-data h1 {
  text-transform: capitalize;
  font-weight: bold;
}

.hero-section .hero-section-data .intro-data {
  margin-bottom: 0;
}

.hero-section .hero-section-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section figure {
  position: relative;
}

.hero-section figure::after {
  content: "";
  width: 60%;
  height: 80%;
  background-color: rgba(81, 56, 238, 0.4);
  position: absolute;
  left: 50%;
  top: -5rem;
  z-index: -1;
}

.hero-section .img-style {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .grid {
      gap: 10rem;
  }

  figure::after {
      content: "";
      width: 50%;
      height: 100%;
      left: 0;
      top: 10%;
      background-color: rgba(81, 56, 238, 0.4);
  }
}
